extends  ../_skeleton
include ../sections/_header-default

include ../elements/_subscribe-form
include ../elements/_ui-rd-audio
include ../elements/_ui-rd-audio-with-small-img

block variables
  - pageName = 'News';
  - var acriveBlogPost = 2

block title
  title= pageName

block page
  // Page Header
  +rd-navbar().active

  // Page Content
  main.page-content
    include ../sections/_section-news

  // Page Footer
  include ../sections/_footer-default