case acrivePost
  when 6
    .d-sm-flex.align-items-sm-center.offset-top-30.justify-content-sm-center.justify-content-lg-start
      h4 Share:
      .preffix-sm-left-15.offset-top-20.offset-sm-top-0
        div.group.group-xs
          div
            a.icon-round-small.icon-xs.icon.icon-primary.fa-facebook(href='#')
          div
            a.icon-round-small.icon-xs.icon.icon-primary.fa-twitter(href='#')
          div
            a.icon-round-small.icon-xs.icon.icon-primary.fa-google-plus(href='#')
          div
            a.icon-round-small.icon-xs.icon.icon-primary.fa-linkedin(href='#')
          div
            a.icon-round-small.icon-xs.icon.icon-primary.fa-pinterest(href='#')
    .naw-wrapper.naw-wrapper-space
      a(href='#').nav-prev
        span.page-prev.icon.icon-lg.icon-primary.icon-round-small.material-icons-navigate_before
        .nav-title
          h4.text-primary.font-weight-bold Previous Post
          h6.text-regular.offset-top-15 Peruta vs. San Diego ruling and why it matters for Texas
      a(href='#').nav-next
        .nav-title
          h4.text-primary.font-weight-bold Next Post
          h6.text-regular.offset-top-15 Civil Forfeiture: Will it ever change?
        span.page-prev.icon.icon-lg.icon-primary.icon-round-small.material-icons-navigate_next
  default
    .news-post-header
      +jpg_responsive('typography-02-1280x853')
    .news-post-body
      p Though Ms. Ford had documents on her, showing that her vehicle registratio was valid and up-to-date, she’s been hit with a $720 fine that increased to $1,590 when she missed a payment deadline for the first time.
      blockquote.quote.quote-default
        q.h3 Ms. Ford told the newspaper that she’s still bothered by the whole episode. “Even though they dismissed it, I still feel dirty. … I still feel like a criminal,” she said.
      p The Fairburn, TX., dweller, her colleague, who works as a baggage handler had confirmed to the judge at a hearing that she didn’t have enough money to pay it.
      h5 In a miraculous manner, the next day a report emerged, that after hearing those arguments Judge Reeves cancelled the fine this week. It’s not offcially known yet what triggered the judge’s decision. Law Blog has reached out to Judge Reeves for comment.
      h5 Ms. Ford told the newspaper that she’s still bothered by the whole episode. “Even though they dismissed it, I still feel dirty. … I still feel like a criminal,” she said.
    .news-post-header
      +jpg_responsive('static-elements-10-1280x835')
    .news-post-body
      p Despite the fact, that Ms. Ford’s fine have been dismissed by a presumably kind-hearted judge, her story is by far not a one-off…
      p Over the last 10 years, hundreds of reports about way overvalued fines for smallest misdemeanors or municipal rules breaching have been reported…
      p Nationwide there happens to be an average of 2 such fines per each 1000 of residents of any state, which in total accounts to almost 0,2% of the US population…
      p That kind of math shows, that while on one hand our police officers are doing a massive job on noticing the smallest issues and law breaches, on the other, the system looks a bit broken…
      p Mind that:
      ul.list.text-primary.font-italic.list-ordered
        li Ms. Ford is just one of the half of all fine recipients for similar breaches, who just cannot possibly afford herself to pay the fine at once.
          | And the postponing services, that exist and allow you to pay a fine at a later date, do hike the end size of the fine by … times!
        li The fact that our law enforcers are wasting their time on the issues which are not of a primary citizen’s concern is a bit worrying…
      p All in all, our Houston-based law firm will be glad to inform you of any further developments for this story and help anyone who’ve found himself or herself entangled within this rotten system of minor fines and fees…
      .d-sm-flex.align-items-sm-center.offset-top-30.justify-content-sm-center.justify-content-lg-start
        h4 Share:
        .preffix-sm-left-15.offset-top-20.offset-sm-top-0
          div.group.group-xs
            div
              a.icon-round-small.icon-xs.icon.icon-primary.fa-facebook(href='#')
            div
              a.icon-round-small.icon-xs.icon.icon-primary.fa-twitter(href='#')
            div
              a.icon-round-small.icon-xs.icon.icon-primary.fa-google-plus(href='#')
            div
              a.icon-round-small.icon-xs.icon.icon-primary.fa-linkedin(href='#')
            div
              a.icon-round-small.icon-xs.icon.icon-primary.fa-pinterest(href='#')
      case acrivePost
        when 1
          .naw-wrapper.naw-wrapper-left
            a(href='#').nav-prev
              span.page-prev.icon.icon-lg.icon-primary.icon-round-small.material-icons-navigate_before
              .nav-title
                h4.text-primary.font-weight-bold Previous Post
                h6.text-regular Texas SC rules compensation
        when 2
          .naw-wrapper.naw-wrapper-space
            a(href='#').nav-prev
              span.page-prev.icon.icon-lg.icon-primary.icon-round-small.material-icons-navigate_before
              .nav-title
                h4.text-primary.font-weight-bold Previous Post
                h6.text-regular Is this the ultimate discrimination?
            a(href='#').nav-next
              .nav-title
                h4.text-primary.font-weight-bold Next Post
                h6.text-regular Is fiing an IPO legally challenging?
              span.page-prev.icon.icon-lg.icon-primary.icon-round-small.material-icons-navigate_next
        when 3
          .naw-wrapper.naw-wrapper-space
            a(href='#').nav-prev
              span.page-prev.icon.icon-lg.icon-primary.icon-round-small.material-icons-navigate_before
              .nav-title
                h4.text-primary.font-weight-bold Previous Post
                h6.text-regular Connecticut District Court Applies Dodd-Frank Retroactively
            a(href='#').nav-next
              .nav-title
                h4.text-primary.font-weight-bold Next Post
                h6.text-regular What the federal legal consequences of Florida’s shooting will be?
              span.page-prev.icon.icon-lg.icon-primary.icon-round-small.material-icons-navigate_next
        when 4
          .naw-wrapper.naw-wrapper-right
            a(href='#').nav-next
              .nav-title
                h4.text-primary.font-weight-bold Next Post
                h6.text-regular Is this the ultimate discrimination?
              span.page-prev.icon.icon-lg.icon-primary.icon-round-small.material-icons-navigate_next
        when 5
          .naw-wrapper.naw-wrapper-space
            a(href='#').nav-prev
              span.page-prev.icon.icon-lg.icon-primary.icon-round-small.material-icons-navigate_before
              .nav-title
                h4.text-primary.font-weight-bold Previous Post
                h6.text-regular Peruta vs. San Diego ruling and why it matters for Texas
            a(href='#').nav-next
              .nav-title
                h4.text-primary.font-weight-bold Next Post
                h6.text-regular Civil Forfeiture: Will it ever change?
              span.page-prev.icon.icon-lg.icon-primary.icon-round-small.material-icons-navigate_next