.news-post-written
  .unit.flex-column.flex-lg-row.align-items-lg-center.unit-spacing-xl
    .unit-left
      img.rounded-circle(src="images/post-01-172x172.png", width="172", height="172", alt="")
    .unit-body
      h5.text-regular Written by
        ="\t"
        a(href='#') admin
      p I am a professional blogger interested in everything taking place in cyberspace. I am running this website and try my best to make it a better place to visit. I post only the articles that are related to the topic and thoroughly analyze all visitors’ comments to cater to their needs better.