.news-post-body.news-post-body-md
  h4.font-weight-bold 3 Responses
.news-post-comments
  .unit.flex-column.flex-md-row.align-items-md-center.unit-spacing-xl
    .unit-left
      .replay
        a.material-icons-reply(href='#')
      img.rounded-circle(src="images/post-01-172x172.png", width="172", height="172", alt="")
    .unit-body
      h6.text-regular
        a.font-italic(href='#')
          time(datetime='2020') May 30, 2020
        span.text-content.preffix-left-15 Posted by
          ="\t"
          span.font-italic John Adams
      p This is why I’m not driving a car, and to be fair, I think it’s a lot safer.

.news-post-comments
  .unit.flex-column.flex-md-row.align-items-md-center.unit-spacing-xl
    .unit-left
      .replay
        a.material-icons-reply(href='#')
      img.rounded-circle(src="images/post-01-172x172.png", width="172", height="172", alt="")
    .unit-body
      h6.text-regular
        a.font-italic(href='#')
          time(datetime='2020') Jun 23, 2020
        span.text-content.preffix-left-15 Posted by
          ="\t"
          span.font-italic James Williams
      p Even if you are not driving a car, one day you may be fined for something.
.news-post-comments
  .unit.flex-column.flex-md-row.align-items-md-center.unit-spacing-xl
    .unit-left
      .replay
        a.material-icons-reply(href='#')
      img.rounded-circle(src="images/post-01-172x172.png", width="172", height="172", alt="")
    .unit-body
      h6.text-regular
        a.font-italic(href='#')
          time(datetime='2020') Jun 23, 2020
        span.text-content.preffix-left-15 Posted by
          ="\t"
          span.font-italic Kate Anderson
      p Very informative article. Thanks for sharing!