footer.page-footer.page-footer-style-2
  .container
    .row.text-center
      .col-sm-12
        a(href='index.html')
          .brand-footer.h3 Fen
            span i
            | more
          br
          p.text-white we will help anyone out
      .col-sm-12.offset-top-30
        p.copyright
          span(class="copyright-year")
          ="\t"
          | &#169;
          ="\t"
          | Advoza. All Rights Reserved
          span.divider-vertical |
          ="\t"
          a(href="privacy-policy.html") Privacy Policy
          block footerLink
  block footerLink