// We stand by:
section.section-50.section-sm-70.section-lg-115.bg-transparent
  .container.text-center
    h2 We stand by:
    .row.row-30.justify-content-md-center
      .col-lg-4.col-md-6
        +box-info-count({
          'count': '01.',
          'title': 'A Commitment to Excellence',
          'content': 'While the yearly number of cases which we take totals to an insurmountable number, unparalleled by any other Houston, TX law firm, our percentage of wins is record-breaking too… Just to drop some statistics here, in more than 9000 cases that we have ever taken on, a whopping 98% of those (which is 9800+) were the cases which we eventually won…'
        })
      .col-lg-4.col-md-6
        +box-info-count({
          'count': '02.',
          'title': 'A Passion for Justice',
          'content': 'With our legal principles and our desire for justice being our first and foremost value, we always try to diversify the range of cases which we take on. That is perfectly shown when you notice that our civil/business cases are divided absolutely evenly. That means that besides helping good, big and small businesses we also help thousands of small men and women!'
        })
      .col-lg-4.col-md-6
        +box-info-count({
          'count': '03.',
          'title': 'An Urge for Fair Pricing',
          'content': 'On par with our passion for justice and excellence, the third work ethic which we stand by is the fair pricing. While we have the most winning cases as opposed to any other Houston, TX law firm, we’ve also got the lowest pricing among them all. That is due to the simple fact, that in our opinion, a decent lawyer should charge a price that is nation-wide affordable!'
        })

