// Brands
section.section-50.section-sm-70.section-lg-90.section-xl-115.bg-transparent
  .container.text-center
    .row.row-40.justify-content-md-center
      .col-lg-4.col-md-6
        +box-info-brand({
          'image': 'clients-1-200x90',
          'title': 'Boucheron',
          'content': 'While we were dealing with the patent lawsuits that the Boucheron company filed against their competitors in the market, we’ve had a long and arduous fight. As our whole intellectual property and patent rights division of lawyers and paralegals showcased their skills, we eventually were able to win.',
          'result': 'victory.'
        })
      .col-lg-4.col-md-6
        +box-info-brand({
          'image': 'clients-2-200x90',
          'title': 'Michelle Monaghan',
          'content': 'This case featured an African American Nurse subjected to a Mandatory unpaid Overtime at work and a Hostile Work Environment. She reported the organization and has been targeted against.  Our firm fought that unlawful retaliation.',
          'result': 'We’ve achieved a verdict in the client’s favor.'
        })
      .col-lg-4.col-md-6
        +box-info-brand({
          'image': 'clients-3-200x90',
          'title': 'Gary Winkler',
          'content': 'It was about a male employee being a subject to sexual harassment by another male colleague while on a business trip. The undesired and uncalled for touching and taunting was reported to supervisors who tried to keep the issue quiet.  Our lawyers have sent a detailed offer letter to the company that their attorneys responded to favorably.',
          'result': 'Obtained a favorable confidential settlement..'
        })
      .col-lg-4.col-md-6
        +box-info-brand({
          'image': 'clients-4-200x90',
          'title': 'Walter Mayham',
          'content': 'Our client with a mental health condition has been repeatedly accused of shoplifting the electronics and gadgets from a major shopping store chain. Our client continually stated his innocence. Negotiations proved difficult because the client had a prior history of thefts.',
          'result': 'Case dismissed on the first day of trial, thanks to the full analysis of the accusation we done…'
        })
      .col-lg-4.col-md-6
        +box-info-brand({
          'image': 'clients-5-200x90',
          'title': 'Amy Adams',
          'content': 'In this particular case, a female employee has faced unfair and hostile treatment at her job on the basis of her race. The employee has thus been wrongfully terminated. Our team of lawyers was able to negotiate a reasonable settlement and her personnel record was amended by the employer…',
          'result': 'Obtained a favorable confidential settlement.'
        })
      .col-lg-4.col-md-6
        +box-info-brand({
          'image': 'clients-6-200x90',
          'title': 'Moen',
          'content': 'The most recent case that we’ve worked at for this Internet giant’s company has been about the mergers & acquisition. That department, managed by our senior lawyer and managing partner Gerald Harrison worked on this specific case for over a year. But eventually, the legal facts and arguments that we have successfully gathered have proven our client’s claims.',
          'result': 'in favor of our client.'
        })
    a.btn.btn-primary(href='#') View more
