// Real cases
section.section.parallax-container(data-parallax-img='images/practice-areas-02-1920x670.jpg')
  .parallax-content.parallax-content-text-white.section-50.section-sm-80.section-md-140.section-lg-210
    .container.text-center
      h1.text-white Real cases
      h2.text-info.offset-top-20 Basically, when people say that their efficiency cannot be measured, be aware that they’re simply lying to you…
      p.text-white.offset-top-20.offset-md-top-40.offset-xl-top-60 We know it very well, as our track record of almost 10, 000 cases has a striking, 98% mark of cases won or settled in client’s favor. See these short list of our most recent legal victories to date:
