// Are you a senior at a law school or a post-graduate
section.section.parallax-container(data-parallax-img='images/about-14-1920x670.jpg')
  .parallax-content.section-50.section-sm-80.section-md-90.section-xl-140
    .container.text-center
      h3.text-white.inset-xxl-right-70.inset-xxl-left-70 Are you a senior at a law school or a post-graduate with at least a Master’s degree in Law?
        br
        | If either of the answers is yes, then we’ve got a job opening waiting for you to apply!
      a.btn.btn-primary.offset-top-35(href='#') Careers
