// Winning is easier than you think...
section.section-50.section-sm-75.section-md-90.section-xl-115.bg-gray-lightest
  .container
    .row.row-35.justify-content-lg-center.align-items-xl-center
      .col-lg-8.offset-xxl-1.col-xl-6
        .embed-responsive.embed-responsive-16by9
          .embed-responsive-item
            iframe(src='https://www.youtube.com/embed/jtAfe1_ikJw')
      .col-lg-8.col-xxl-5.col-xl-6
        h1
          span.font-weight-bold Winning
          ="\t"
          | is easier
          ="\t"
          span.font-italic than you think...
        p.inset-xxl-right-70 Watch this video, where dozens of our former clients tell, how desperate they were to win their respective case and how slim their chances seemed before hiring us as their lawyers!  That's right, our law firm has the highest wins ratio percentage among all other Houston, Texas legal practices. With us, there's just no other way but to win!
        a.btn.btn-primary(href='won-cases.html') Read more
