// An Affordable Legal Help
section
  // Swiper
  // '39.0625%'
  .swiper-container.swiper-slider.swiper-slider-1(data-height='39.0625%', data-min-height='350px', data-simulate-touch="false", data-slide-effect='fade')
    .swiper-wrapper.text-center
        .swiper-slide(data-slide-bg='images/slide-1.jpg')
          .swiper-slide-caption.section-50.section-md-70.section-xl-140
            .container
              .row.justify-content-sm-center
                .col-xxl-7(class= 'col-lg-11 col-xl-9')
                  h1(data-caption-animate="fadeInDown" data-caption-delay="300") An
                    ="\t"
                    span.font-weight-bold Affordable Legal
                    ="\t"
                    | Help
                  p(data-caption-animate="fadeInDown" data-caption-delay="450") We're proud that our law firm offers top-notch legal services for a nationwide affordable pricing! With us you'll never feel like the lawyers are just robbers in suits, besides, we win 98% of all cases. So with us, your chances of winning are as high as they possibly can be!
                  a.btn.btn-primary(href='about-us.html' data-caption-animate="fadeInDown" data-caption-delay="650") Read more
        .swiper-slide(data-slide-bg='images/slide-2.jpg' style='background-position: left;')
          .swiper-slide-caption.section-50.section-md-70.section-xl-140(data-caption-animate="fadeInDown" data-caption-delay="200")
            .container
              .row.justify-content-sm-center
                .col-xxl-7(class= 'col-lg-11 col-xl-9')
                  h1(data-caption-animate="fadeInDown" data-caption-delay="300") Maritime Law
                  p(data-caption-animate="fadeInDown" data-caption-delay="450") We can help you with any legal issues which you may ever experience in a maritime law field! That’s because we care for people involved in this sphere, as Texas has a lot of marines living here, just as well as a multitude of maritime contractors and businesses flourishing along our coasts and seaports.
                  a.btn.btn-primary(href='about-us.html' data-caption-animate="fadeInDown" data-caption-delay="650") Read more
        .swiper-slide(data-slide-bg='images/slide-3.jpg')
          .swiper-slide-caption.section-50.section-md-70.section-xl-140(data-caption-animate="fadeInDown" data-caption-delay="200")
            .container
              .row.justify-content-sm-center
                .col-xxl-7(class= 'col-lg-11 col-xl-9')
                  h1(data-caption-animate="fadeInDown" data-caption-delay="300") Construction Business Law
                  p(data-caption-animate="fadeInDown" data-caption-delay="450") Whether you are an employee of a construction company, a sub-contractor or a company that builds houses and develops our Houston habitat, we’re here for you.
                  a.btn.btn-primary(href='about-us.html' data-caption-animate="fadeInDown" data-caption-delay="650") Read more
    // Swiper Pagination
    .swiper-pagination
    // Swiper Navigation
    .swiper-button-prev
    .swiper-button-next