// We have a long history of solving legal battles for businesses
section.section-50.section-sm-65.section-md-85.section-xl-115.bg-accent
  .container.text-center
    h3 Our partners
    h2 We have worked with lots of corporate clients
    // Owl Carousel
    .owl-carousel-brands.owl-carousel.offset-top-40.offset-lg-top-60(data-items='1', data-xs-items='2', data-sm-items='3', data-md-items='4', data-lg-items='6' data-stage-padding='0', data-loop='true', data-dots-each='1',  data-dots='true', data-margin='30', data-mouse-drag="true")
      .item
        +png_responsive('clients-inverse-1-200x90')
      .item
        +png_responsive('clients-inverse-2-200x90')
      .item
        +png_responsive('clients-inverse-3-200x90')
      .item
        +png_responsive('clients-inverse-4-200x90')
      .item
        +png_responsive('clients-inverse-5-200x90')
      .item
        +png_responsive('clients-inverse-6-200x90')
