// We stand by:
section.section-50.section-sm-70.section-lg-90.section-xl-115.bg-transparent
  .container.text-center
    h3 Why choose us
    h2 Our advantages
    .row.row-30.justify-content-md-center
      .col-lg-4.col-md-6
        +box-info-count({
          'count': '01.',
          'title': 'Any litigation',
          'content': 'It’s very hard to name an either civil or a commercial litigation field, in which we don’t provide our services yet. Starting with Labor & Employment laws, insurance & personal injuries fields for helping the individuals and finishing with the real estate law, business arbitration & mergers and acquisitions for the commercial and business entities, we have it all covered… Our vast team of lawyers and paralegals will be glad to provide you with a top-notch service and uphold your interests either in court or by reaching a confidential settlement in your favor…'
        })
      .col-lg-4.col-md-6
        +box-info-count({
          'count': '02.',
          'title': '98% cases won',
          'content': 'Our track record is higher than that of the best MLB pitchers! We’ve won or settled cases in clients favor a whopping percentage of times we’ve handled – over 98%… That required us to put a lot of effort, timely diligence and an incredible range of legal wit, but we did it! So regardless of you needing a civil or commercial litigation services, be sure that with our company in charge of your legal interests the chance to win is 98 out of 100! We’ve never been settling for a defeat in any of our cases, sometimes fighting all the way, up to the state’s and country’s Supreme Courts, winning there!'
        })
      .col-lg-4.col-md-6
        +box-info-count({
          'count': '03.',
          'title': 'Timely & Affordable',
          'content': 'While we’ve already told you that we work with a whole multitude of civil and commercial litigation and win those cases literally all the time, there are two more advantages to hiring our law firm… Firstly, we never waste our clients time – either for redundant paperwork or for stockpiling their cases while doing hearings in the court. We have a vast team of lawyers and that resource always works to get your interests upheld and your case won in an as fast manner as only legally possible. Also, we’re proud to be one of the most affordable law firms both in Houston and in the state of Texas overall!'
        })