// See the testimonials
section.section-60.section-sm-65.section-md-85.section-xl-115
  .container.text-center
    h3 Recent testimonials
    h2 What our clients say
    .row.row-50.row-xl.justify-content-sm-center
      .col-sm-6.col-lg-4
        +blockquote-classic({
          'image': 'home-04-135x135',
          'q': "Business litigation has always been what our competitors were using to suppress us. But as soon as we've hired this law firm, which by the way had fees 5 times lower than the...",
          'cite': 'David Black'
        })
      .col-sm-6.col-lg-4
        +blockquote-classic({
          'image': 'home-05-135x135',
          'q': "As the one who recently suffered from the FELA (Federal Employers’ Liability Act Claims) related issues, I've been desperate to find a firm who could have won my case...",
          'cite': 'Martin Edwards'
        })
      .col-sm-6.col-lg-4
        +blockquote-classic({
          'image': 'home-06-135x135',
          'q': "Finally, 3 months later the truth and the law prevailed, all thanks to this firm's lawyers diligence! We finally had all the disputes resolved in our favor!...",
          'cite': 'Sarah Hayes'
        })