// the most popular questions
section.section-50.section-sm-70.section-md-90.section-lg-115.bg-transparent
	.container
		h3.text-center FAQ
		h2.text-center The most popular questions
		#accordion2.card-group-custom.card-group-default.offset-top-40.offset-md-top-50.offset-xl-top-70(role='tablist' aria-multiselectable='false')
			+card({
				show: true,
				cardClass: 'card-default card-default-arrow',
				parentId: 'accordion2',
				number: '1',
				header: 'Q: Is the first consultation completely free?'
			})
				span.text-primary A:
				="\n"
				| We understand how much of a thought should one give before making that final decision of hiring a lawyer…
				p.offset-top-15 That is why our first consultation was, is and will always remain to be FREE of charge.
				p The $1 bill that you will have to pay is plain and simple reserved solely for one technical reason. That is so a lawyer must be in at least some way hired or paid to so to be obliged to the “confidentiality rule”…

			+card({
				cardClass: 'card-default card-default-arrow',
				parentId: 'accordion2',
				number: '2',
				header: 'Q: How will I be kept informed of my case throughout the whole process?'
			})
				span.text-primary A:
				="\n"
				| We value the huge importance of lawyer-client communication and we always keep the transparency between attorney and a client.
				p.offset-top-15 Although we would like to talk to you bi-weekly on the phone, that would be neither practical nor productive.  Legal matters are known to be stretched in time and so we think it’s best of all to keep you updated on the new comings.  To you, it may often seem like ages have gone by with no activity or actions taking place. However, in reality, much behind-the-scenes paperwork never one but paralegals will do is being completed. All for a sole goal, that on the day your matter is ready with no smallest issue overlooked.  In order to keep the price of legal services down while extending communications, we will work to keep you informed when anything important happens. So to respond to your questions in a reasonable time, we’ll reserve a weekly phone connection.  In addition, we will inform you when your presence is required, either in our office or in court.

			+card({
				cardClass: 'card-default card-default-arrow',
				parentId: 'accordion2',
				number: '3',
				header: 'Q: What will the legal service cost?'
			})
				span.text-primary A:
				="\n"
				| First and foremost, each of our clients is fully entitled to know exactly of the pricing. So at your very first visit, we’ll give you an approximation of what your fee will be looking like at the end of the day.  We encourage a frank, open discussion about our fees with each client at the time of the first interview.
				h6.offset-top-30 Usually, and in our company’s case as well, the lawyer on the case gets paid under various fee arrangements. Such as:
				h6.offset-top-30 Hourly fee:
				p.offset-top-20.offset-md-top-30 On an hourly fee basis, fees are based on an hourly rate for services which were provided by our team and individual lawyers and paralegals.  A detailed, itemized bill will be given to you showing all work done on your case.
				h6 Flat fee:
				p.offset-top-20.offset-md-top-30 When counted within the flat fee basis, your legal bill is a fixed sum for agreed upon services.  In such an arrangement of fees, no in-detail accounting will be made.
				h6 Contingency fee:
				p.offset-top-20.offset-md-top-30 On a contingency fee basis, your legal fees will be based on the amount of recovery and productivity we get for you in the court.
				p This approach basically means – no recovery, no fee.  You may have the option of choosing this plan in lieu of hourly charges.  Not all cases qualify for the contingency basis; we will tell you if yours does.
				h6 Other potential fees:
				p.offset-top-20.offset-md-top-30 A pre-payment type of legal fee is usually required in order to begin to process your matter and you will be kept advised as to how that pre-payment is being used. We’ll always keep you up with detailed bills and payments made on your case’s behalf.
				h6 Certain cases may have a minimum fee.  This means that no hourly accounting will be made unless excess time is expended.
