// Real cases
section.section.parallax-container(data-parallax-img='images/won-cases-01-1920x670.jpg')
  .parallax-content.section-50.section-sm-80.section-md-90.section-xl-175
    .container.text-center
      h1.text-white Won cases
      h2.offset-top-20 In our long history of helping Texan people and businesses, we’ve accumulated a 98% of positive verdicts rate, which beats any of our local competitor’s margins by double digits…
      p.text-white.offset-top-20.offset-md-top-40.offset-xl-top-60.inset-28 Even if we’ve tried to, it would have been an awfully long of a page to list all of the 98 hundred cases we won, helped to dismiss, drop or settle in those 27 years.
      p.text-white These are our most recent victories, which we’ll be updating regularly with newer ones…
