section.section-50.section-sm-65.section-md-85.section-lg-95.section-xl-115.bg-transparent
  .container
    .row.row-20.justify-content-center
      .col-xl-8.col-xxl-9
        ul.list-xxl
          li
            h1 H1 heading
            p We are a global law firm with lawyers located in more than 30 countries throughout the Americas, Europe, the Middle East, Africa and Asia Pacific, positioning us to help companies with their legal needs anywhere in the world. We strive to be the leading global business law firm by delivering quality and value to our clients. We achieve this through practical and innovative legal solutions that help our clients succeed. We deliver consistent services across our platform of practices and sectors in all matters we undertake. Our clients range from multinational enterprises to emerging companies developing industry-leading technologies. We also advise governments and public sector bodies.
          li
            h2 H2 heading
            p We are a global law firm with lawyers located in more than 30 countries throughout the Americas, Europe, the Middle East, Africa and Asia Pacific, positioning us to help companies with their legal needs anywhere in the world. We strive to be the leading global business law firm by delivering quality and value to our clients. We achieve this through practical and innovative legal solutions that help our clients succeed. We deliver consistent services across our platform of practices and sectors in all matters we undertake. Our clients range from multinational enterprises to emerging companies developing industry-leading technologies. We also advise governments and public sector bodies.
          li
            h3 H3 heading
            p We are a global law firm with lawyers located in more than 30 countries throughout the Americas, Europe, the Middle East, Africa and Asia Pacific, positioning us to help companies with their legal needs anywhere in the world. We strive to be the leading global business law firm by delivering quality and value to our clients. We achieve this through practical and innovative legal solutions that help our clients succeed. We deliver consistent services across our platform of practices and sectors in all matters we undertake. Our clients range from multinational enterprises to emerging companies developing industry-leading technologies. We also advise governments and public sector bodies.
          li
            h4 H4 heading
            p We are a global law firm with lawyers located in more than 30 countries throughout the Americas, Europe, the Middle East, Africa and Asia Pacific, positioning us to help companies with their legal needs anywhere in the world. We strive to be the leading global business law firm by delivering quality and value to our clients. We achieve this through practical and innovative legal solutions that help our clients succeed. We deliver consistent services across our platform of practices and sectors in all matters we undertake. Our clients range from multinational enterprises to emerging companies developing industry-leading technologies. We also advise governments and public sector bodies.
          li
            h5 H5 heading
            p We are a global law firm with lawyers located in more than 30 countries throughout the Americas, Europe, the Middle East, Africa and Asia Pacific, positioning us to help companies with their legal needs anywhere in the world. We strive to be the leading global business law firm by delivering quality and value to our clients. We achieve this through practical and innovative legal solutions that help our clients succeed. We deliver consistent services across our platform of practices and sectors in all matters we undertake. Our clients range from multinational enterprises to emerging companies developing industry-leading technologies. We also advise governments and public sector bodies.
          li
            h6 H6 heading
            p We are a global law firm with lawyers located in more than 30 countries throughout the Americas, Europe, the Middle East, Africa and Asia Pacific, positioning us to help companies with their legal needs anywhere in the world. We strive to be the leading global business law firm by delivering quality and value to our clients. We achieve this through practical and innovative legal solutions that help our clients succeed. We deliver consistent services across our platform of practices and sectors in all matters we undertake. Our clients range from multinational enterprises to emerging companies developing industry-leading technologies. We also advise governments and public sector bodies.
        hr
        h5 Unordered List
        ul.list.text-primary.font-italic.text-left
          li Labor &amp; Employment Law
          li Real Estate Law
          li Personal Injury
          li Insurance Law
          li Business Litigation
          li Mergers ; Acquisitions
        hr
        h5 Ordered List
        ol.list.text-primary.font-italic.list-ordered
          li Labor &amp; Employment Law
          li Real Estate Law
          li Personal Injury
          li Insurance Law
          li Business Litigation
          li Mergers ; Acquisitions
        hr
        h5 Blockquotes
        p Sometimes, non-qualified compensation plans are used as tools of legal pressure to provide retirement income to the departing business owner. For example, instead of getting leverage from an owner’s stock through $2 million in non-deductible payment by installments, the owner would rather offer his or her shares to the business for a defensible $1.5 million.
        blockquote.quote.quote-default
          q.h3 High professionalism and experience allows our attorneys to successfully defend our clients’ interests.
          cite.h6 — Tom Stoppard
        p With our legal principles and our desire for justice being our first and foremost value, we always try to diversify the range of cases which we take on. That is perfectly shown when you notice that our civil/business cases are divided absolutely evenly. That means that besides helping good, big and small businesses we also help thousands of small men and women! On par with our passion for justice and excellence, the third work ethic which we stand by is the fair pricing. While we have the most winning cases as opposed to any other Houston, TX law firm, we've also got the lowest pricing among them all.
        hr
        h5 Some Other Styles
        p Bold:
          ="\t"
          span.font-weight-bold.text-darker We’re proud that our law firm offers top-notch legal services at a nationwide affordable pricing.
        p Italic:
          ="\t"
          span.font-italic We’re proud that our law firm offers top-notch legal services at a nationwide affordable pricing.
        p Strikethrough:
          ="\t"
          del We’re proud that our law firm offers top-notch legal services at a nationwide affordable pricing.
        p Link:
          ="\t"
          a(href='#')  We’re proud that our law firm offers top-notch legal services at a nationwide affordable pricing.
        p Inline Code:
          ="\t"
          code We’re proud that our law firm offers top-notch legal services at a nationwide affordable pricing.
        hr
        .text-center
          h5.text-lg-left Centre Aligned Image
          p.text-lg-left Property law is the area of law that governs the various forms of ownership and tenancy in real property (land as distinct from personal or movable possessions) and in personal property, within the common law legal system. In the civil law system, there is a division between movable and immovable property. Movable property roughly corresponds to personal property, while immovable property corresponds to real estate or real property, and the associated rights and obligations thereon. The concept, idea or philosophy of property underlies all property law. Sometimes, it is historically proven.
          +jpg_responsive('typography-01-710x473')
          p.text-lg-left Different parties may claim a competing interest in the same property by mistake or by fraud. For example, the party creating or transferring an interest may have a valid title, but may intentionally or negligently create several interests wholly or partially inconsistent with each other. A court resolves the dispute by adjudicating the priorities of the interests. The term "transfer of property" generally means an act by which a living person conveys property, in present or in future, to one or more other living persons, or to himself and one or more other living persons.
        hr
        h5 Left Aligned Image
        .row.row-30.offset-top-30
          .col-xl-6
            +jpg_responsive('typography-01-710x473')
          .col-xl-6
            h4 Direct communication with an end client is what’s at the heart of good law consulting and advisory. We will work closely with your managers to understand your goals and aims. It will benefit the result of the case we will be dealing with.
            p.d-none.d-xxl-block Sometimes, non-qualified compensation plans are used as tools for providing retirement income to the departing business owner. For example, instead of getting leverage from an owner’s stock through $2 million in non-deductible payment by installments, the owner would rather offer his or her shares to the business for a defensible $1.5 million. It will also enable them to receive $500,000 in deferred compensation payments. With such a pathway at least 25% of the payments for an exiting owner fall under a deductible category to the company as deferred wages. In order to be legally recognized as a deferred compensation plan, this way needs to be created beforehand for a sufficient period of time.
        hr
        h5 Right Aligned Image
        .row.row-30.offset-top-30.flex-xl-row-reverse
          .col-xl-6
            +jpg_responsive('typography-01-710x473')
          .col-xl-6
            h4 Direct communication with an end client is what’s at the heart of good law consulting and advisory. We will work closely with your managers to understand your goals and aims. It will benefit the result of the case we will be dealing with.
            p.d-none.d-xxl-block Sometimes, non-qualified compensation plans are used as tools for providing retirement income to the departing business owner. For example, instead of getting leverage from an owner’s stock through $2 million in non-deductible payment by installments, the owner would rather offer his or her shares to the business for a defensible $1.5 million. It will also enable them to receive $500,000 in deferred compensation payments. With such a pathway at least 25% of the payments for an exiting owner fall under a deductible category to the company as deferred wages. In order to be legally recognized as a deferred compensation plan, this way needs to be created beforehand for a sufficient period of time.
        hr
        h5 Large Image
        h4 Direct communication with an end client is what’s at the heart of good law consulting and advisory. We will work closely with your managers to understand your goals and aims. It will benefit the result of the case we will be dealing with.
        +jpg_responsive('typography-02-1280x853')
