// practice areas
section.section-50.section-sm-65.section-md-85.section-lg-115
  .container.text-center
    h3 Our specialization
    h2 Practice areas
    .row.row-60.justify-content-sm-center.row-xl.offset-top-65.offset-md-top-80.offset-xl-top-95
      .col-lg-5.col-md-6.col-xxl-4.col-xl-4
        +box-info({
          'icon': 'fl-fill-round-icons-attachment12',
          'title': 'Labor & Employment Law',
          'content': "We'll be glad to deal with any kind of employment litigation issues, such as unlawful termination, wage hack or discrimination of any kind, which you might have..."
        })
      .col-lg-5.col-md-6.col-xxl-4.col-xl-4
        +box-info({
          'icon': 'fl-fill-round-icons-home131',
          'title': 'Real Estate Law',
          'content': "The real property market nuances and the laws regulating it (such as estate taxing, e.g.) are one of our biggest fields of work. We will be protecting your best interest whatever the..."
        })
      .col-lg-5.col-md-6.col-xxl-4.col-xl-4
        +box-info({
          'icon': 'fl-fill-round-icons-persons11',
          'title': 'Personal Injury',
          'content': "We're working with personal injuries, which are basically minor wrongful conduct torts, thus being out of the criminal hearings reach. We will become your defenders in any..."
        })
      .col-lg-5.col-md-6.col-xxl-4.col-xl-4
        +box-info({
          'icon': 'fl-fill-round-icons-compass78',
          'title': 'Insurance Law',
          'content': "The insurance marketplace has a lot of restrictions and limitations, which the insurance companies oftentimes try to use as the loopholes for getting away with.."
        })
      .col-lg-5.col-md-6.col-xxl-4.col-xl-4
        +box-info({
          'icon': 'fl-fill-round-icons-star150',
          'title': 'Business Litigation',
          'content': "The field of commercially related litigation spans everything that your company might be suing others for or be sued by others against.  We will make sure, that all the details... "
        })
      .col-lg-5.col-md-6.col-xxl-4.col-xl-4
        +box-info({
          'icon': 'fl-fill-round-icons-infinite5',
          'title': 'Mergers & Acquisitions',
          'content': "The commercial world of mergers & acquisitions is a harsh one. You'd better have a just as harsh team of sharky lawyers so that your business emerges as the winner..."
        })
    a.btn.btn-primary(href='practice-areas.html') View more
