// Whatever is in your interest
section.section.parallax-container(data-parallax-img='images/home-parallax-01.jpg')
  .parallax-content.parallax-content-text-white.section-55.section-sm-75.section-md-90.section-xl-140
    .container
      .row.justify-content-lg-center
        .col-xxl-8.col-xl-11.text-center
          h3 Facts & Statistics
          h2 Take a look at our achievements
          // CountTo
          .row.row-30.inset-xxl-left-90.inset-xxl-right-90.counter-wrap
            .col-md-3.col-6.col-sm-6
              .counter 1512
              h6 Legal Cases
            .col-md-3.col-6.col-sm-6
              .counter 33
              h6 Lawyers & Paralegals
            .col-md-3.col-6.col-sm-6
              .counter 87
              h6 Awards Won
            .col-md-3.col-6.col-sm-6
              .counter 985
              h6 Cases Won