// Founded by Steven Pfeiffer
section
  img.img-responsive(src="images/about-01-1920x750.jpg" alt="" style="width: 100%;")

section.section-50.section-sm-70.section-md-80.section-lg-115.bg-transparent
  .container
    h4 Founded by Steven Pfeiffer, Lesley Dingle and Gerald Harrison back in 1989, today their Houston-based law firm is currently the #1 in both yearly cases dealt with and the percentage of all those cases being won.
    p.offset-top-30 But that kind of success does not come by, just when you sit idly or do not have strict work ethic principles being put into practice…
    .row.row-30
      .col-md-6
        h6 The principles of our work help us to:
        ul.list.text-primary.list-lg.offset-top-20.list-marked-line.text-left.offset-md-top-30
          li Earn our clients’ trust
          li Build our reputation
          li Attract thousands of individuals and businesses, all of whom (98%) have successfully dealt with their legal conundrums with our timely and diligent help…
      .col-md-6
        h6 We’ve always cherished the three pillars which our company has always stood upon:
        ul.list.text-primary.list-lg.offset-top-20.list-marked-line.text-left.offset-md-top-30
          li A Commitment to Excellence
          li A Passion for Justice
          li An urge for fair pricing
