section.section-50.section-sm-65.section-md-85.section-xl-115.bg-transparent
  .container
    .row.row-20
      .col-xl-8.col-xxl-9
        div(class= 'inset-lg-right-45 inset-xl-right-0')
          article.news-post.news-post-reverse
            .news-post-header
              a.news-post-media(href='single-post.html')
                +jpg_responsive('news-02-640x506')
              .label-alone
                span.icon.material-icons-star_border.icon-primary.icon-round-small.icon-lg
              ul.label-list
                li: a.label-custom(href='#') Mergers & Acquisitions
            .news-post-body
              h4: a(href='single-post.html') Can you be fined with $1600 for missing a license plate decal?
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
              a.btn.btn-primary(href='single-post.html') Read more
              ul.list-inline.offset-top-30.offset-xl-top-80
                li: a.h6.text-regular(href='#'): time(datetime='2020') 16.06.2020
                li
                  p.h6.text-regular.text-content by
                    ="\t"
                    a.text-content(href='single-post.html') admin
                li
                  a.h6.text-regular(href='single-post.html')
                    span.icon.material-icons-chat_bubble_outline
                    ="\t"
                    | 3 comment(s)

          article.news-post.news-post-reverse
            .news-post-header
              a.news-post-media(href='single-post.html')
                +jpg_responsive('news-03-640x506')
              ul.label-list
                li: a.label-custom(href='#') Family Law
                li: a.label-custom(href='#') Tips for Business Litigation
                li: a.label-custom(href='#') USERRA
            .news-post-body
              h4: a(href='single-post.html') Top 10 tips to find the best attorney for your case
              p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est.
              a.btn.btn-primary(href='single-post.html') Read more
              ul.list-inline.offset-top-30.offset-xl-top-80
                li: a.h6.text-regular(href='#'): time(datetime='2020') 16.06.2020
                li
                  p.h6.text-regular.text-content by
                    ="\t"
                    a.text-content(href='single-post.html') admin
                li
                  a.h6.text-regular(href='single-post.html')
                    span.icon.material-icons-chat_bubble_outline
                    ="\t"
                    | 3 comment(s)

          article.news-post.news-post-reverse
            .news-post-header
              +thumbnail-default({
                'name_orginal': 'news-04-original-1280x853',
                'name': 'news-05-640x506'
              })
              ul.label-list
                li: a.label-custom(href='#') Family Law
            .news-post-body
              h4: a(href='single-post.html') What the federal legal consequences of Florida’s shooting will be?
              p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.
              a.btn.btn-primary(href='single-post.html') Read more
              ul.list-inline.offset-top-30.offset-xl-top-80
                li: a.h6.text-regular(href='#'): time(datetime='2020') 16.06.2020
                li
                  p.h6.text-regular.text-content by
                    ="\t"
                    a.text-content(href='single-post.html') admin
                li
                  a.h6.text-regular(href='single-post.html')
                    span.icon.material-icons-chat_bubble_outline
                    ="\t"
                    | 2 comment(s)

          article.news-post.news-post-reverse
            .news-post-header
              a.news-post-media(href='single-post.html')
                +jpg_responsive('news-07-640x506')
              a.link-custom.link-custom-info(href='http://advoza.com') http://advoza.com
              ul.label-list
                li: a.label-custom(href='#') Labor & Employment Laws

            .news-post-body
              h4: a(href='single-post.html') Protecting your right for a bail out
              p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem.
              a.btn.btn-primary(href='single-post.html') Read more
              ul.list-inline.offset-top-30.offset-xl-top-80
                li: a.h6.text-regular(href='#'): time(datetime='2020') 17.05.2020
                li
                  p.h6.text-regular.text-content by
                    ="\t"
                    a.text-content(href='single-post.html') admin
                li
                  a.h6.text-regular(href='single-post.html')
                    span.icon.material-icons-chat_bubble_outline
                    ="\t"
                    | 0 comment(s)

          article.news-post
            .news-post-body
              ul.label-list
                li: a.label-custom(href='#') Construction Law & Litigation
              h4.offset-top-15.offset-md-top-25: a(href='single-post.html') Connecticut District Court Applies Dodd-Frank Retroactively
              p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.
              a.btn.btn-primary(href='single-post.html') Read more
              ul.list-inline.offset-top-30
                li: a.h6.text-regular(href='#'): time(datetime='2020') 17.05.2020
                li
                  p.h6.text-regular.text-content by
                    ="\t"
                    a.text-content(href='single-post.html') admin
                li
                  a.h6.text-regular(href='single-post.html')
                    span.icon.material-icons-chat_bubble_outline
                    ="\t"
                    | 0 comment(s)

          article.news-post
            .news-post-body
              ul.label-list
                li: a.label-custom(href='#') Intellectual property
              h4.offset-top-15.offset-md-top-25: a(href='single-post.html') Is staying agressive a universal strategy for attorney or not?
              .offset-top-30
                +rd-audio-player-with-small-img(
                "images/news-06-365x288.jpg",
                {
                  "playlist": [
                    {
                      "href": "audio/sound1.mp3",
                    }
                  ]
                },
                "rd-playlist01")
              ul.list-inline.offset-top-30
                li: a.h6.text-regular(href='#'): time(datetime='2020') 17.05.2020
                li
                  p.h6.text-regular.text-content by
                    ="\t"
                    a.text-content(href='single-post.html') admin
                li
                  a.h6.text-regular(href='single-post.html')
                    span.icon.material-icons-chat_bubble_outline
                    ="\t"
                    | 0 comment(s)

          hr.divider-xl

          .nav-links.text-center
            span.page-numbers.active 1
            a(href='#').page-numbers 2
            a(href='#').page-next.icon.icon-lg.icon-primary.icon-round-small.material-icons-navigate_next

          hr.divider-xl
      .col-xl-4.col-xxl-3
        include ../elements/_aside-right-elements
