include ../elements/_person

// Our in-house
section.section-50.section-sm-75.section-md-80.section-lg-115
  .container.text-center
    h3 People behind our success
    h2 Meet our team
    .row.row-40.row-xl-50
      .col-md-6.col-lg-4.col-xl-3
        +person({
          'image': 'about-02-387x381',
          'title': 'Richard Walker',
          'content': 'While Richard is our most experienced paralegal, he’s also our client’s favorite one. Working for some time as a legal mediator, he knows how to approach people in different walks of life…'
        })
      .col-md-6.col-lg-4.col-xl-3
        +person({
          'image': 'about-03-387x381',
          'title': 'Gerald Harrison',
          'content': 'Gerald is Lesley’s brother, an Ivy League graduate and a proven lawyer, who’ve worked both in NYC and Texas during his 45 years long career…'
        })
      .col-md-6.col-lg-4.col-xl-3
        +person({
          'image': 'about-04-387x381',
          'title': 'Mary Dime',
          'content': 'Mary comes from a real legal dynasty. Just like the previous 7 generations of her kin, she’s a lawyer and a pretty good one. Her commercial law acts are all short and winning!'
        })
      .col-md-6.col-lg-4.col-xl-3
        +person({
          'image': 'about-05-387x381',
          'title': 'Carter Smith',
          'content': 'Carter is one of our senior lawyers. He’s with us since 1995 and he’s proven himself to be one of the most frequently winning civil litigation legal shark in the sea!'
        })
      .col-md-6.col-lg-4.col-xl-3
        +person({
          'image': 'about-06-387x381',
          'title': 'Lesley Harrison',
          'content': 'Lesley is our managing partner, co-founder, and Texas’ leading civil litigation lawyer… She is a proof that female lawyers are just as good and sharky!'
        })
      .col-md-6.col-lg-4.col-xl-3
        +person({
          'image': 'about-07-387x381',
          'title': 'James Howard',
          'content': 'James Howard has began his legal career in 1987, as an in-house legal intern in BerkshireHathaway… Since then, his 39 years long and counting career just became a primer for all young lawyers!'
        })
      .col-md-6.col-lg-4.col-xl-3
        +person({
          'image': 'about-08-387x381',
          'title': 'Steven Pfeiffer',
          'content': 'Steven is one of our managing partners and firm’s co-founders. He boldly leads our effort to maintain our status as the Houston, TX leading legal firm!'
        })
      .col-md-6.col-lg-4.col-xl-3
        +person({
          'image': 'about-09-387x381',
          'title': 'Andrew Nash',
          'content': 'Mr. Nash has moved to Houston from LA. There he’s been vocal in winning any Employment law cases, standing right behind workers’ rights all the time…'
        })
      .col-md-6.col-lg-4.col-xl-3
        +person({
          'image': 'about-10-387x381',
          'title': 'Arthur Holmes',
          'content': 'Mr. Holmes never does anything in half… He’s always fully dedicated to a case (or cases) he’s on and he diligently manages to win them each time (198 cases out of 199)…'
        })
      .col-md-6.col-lg-4.col-xl-3
        +person({
          'image': 'about-11-387x381',
          'title': 'Donald Brown',
          'content': 'Mr. Brown is probably one of the most well-known former judges in the state of Texas. Now he is a highly experienced and accomplished lawyer we are proud to house!'
        })
      .col-md-6.col-lg-4.col-xl-3
        +person({
          'image': 'about-12-387x381',
          'title': 'Ben Edwards',
          'content': 'Though Benjamin is our youngest paralegal and lawyer, his assistance has proven to be priceless. In more than 300 cases he took part in so far, his contribution has always been really vital.'
        })
      .col-md-6.col-lg-4.col-xl-3
        +person({
          'image': 'about-13-387x381',
          'title': 'Steven Hill',
          'content': 'Steven’s career have initially started out at a free legal consulting practice in Austin, TX. After some time, he switched to helping people within our team…'
        })