// We help people to effectively fight their
section.section.parallax-container(data-parallax-img='images/home-parallax-02.jpg')
  .parallax-content.parallax-content-text-default.section-55.section-sm-75.section-lg-100.section-xl-200
    .container
      .row.justify-content-lg-center
        .col-xxl-7.col-xl-10.text-center
          h3 Professional legal help
          h2 Our attorneys are ready to help you succeed in court!
          a.btn.btn-primary(href='practice-areas.html') Read more
